In [1]:
import pandas as pd

In [3]:
# Load the data
players = pd.read_csv("player_stats.csv")
teams = pd.read_csv("team_data.csv")
world_cups = pd.read_csv("world_cups.csv")

In [11]:
# Display basic info
print(players.head())
print(teams.head())
print(world_cups.head())

                 player position       team     age        club  birth_year  \
0            Aaron Mooy       MF  Australia  32-094      Celtic        1990
1          Aaron Ramsey       MF      Wales  31-357        Nice        1990
2     Abdelhamid Sabiri       MF    Morocco  26-020   Sampdoria        1996
3     Abdelkarim Hassan       DF      Qatar  29-112  Al Sadd SC        1993
4  Abderrazak Hamdallah       FW    Morocco  32-001  Al-Ittihad        1990

   games  games_starts  minutes  minutes_90s  goals  assists  goals_pens  \
0      4             4      360          4.0      0        0           0
1      3             3      266          3.0      0        0           0
2      5             2      181          2.0      0        1           0
3      3             3      270          3.0      0        0           0
4      4             0       68          0.8      0        0           0

   pens_made  pens_att  cards_yellow  cards_red
0          0         0             1          0
1          0         0             1          0
2          0         0             1          0
3          0         0             0          0
4          0         0             0          0
        team  players_used  avg_age  possession  games  games_starts  minutes  \
0  Argentina            24     28.4        57.4      7            77      690
1  Australia            20     28.7        37.8      4            44      360
2    Belgium            20     30.6        57.0      3            33      270
3     Brazil            26     28.5        56.2      5            55      480
4   Cameroon            22     28.0        41.7      3            33      270

   goals  assists  goals_pens  ...  passes_received  games_complete  \
0     15        8          11  ...             3868              41
1      3        3           3  ...             1236              25
2      1        1           1  ...             1579              19
3      8        6           7  ...             2718              30
4      4        4           4  ...              943              20

   points_per_game  fouls  fouled  offsides  pens_won  pens_conceded  \
0             2.00    100     115        23         5              2
1             1.50     52      34         1         0              0
2             1.33     30      35         3         0              1
3             2.00     63      74         8         1              0
4             1.33     32      38         2         0              0

   own_goals  ball_recoveries
0          1              357
1          0              200
2          0              132
3          0              271
4          0              142

[5 rows x 48 columns]
   Year      Country      Winner      Runners-Up    Third      Fourth  \
0  1930      Uruguay     Uruguay       Argentina      USA  Yugoslavia
1  1934        Italy       Italy  Czechoslovakia  Germany     Austria
2  1938       France       Italy         Hungary   Brazil      Sweden
3  1950       Brazil     Uruguay          Brazil   Sweden       Spain
4  1954  Switzerland  Germany FR         Hungary  Austria     Uruguay

   GoalsScored  QualifiedTeams  MatchesPlayed  Attendance
0           70              13             18     590,550
1           70              16             17     363,000
2           84              15             18     375,700
3           88              13             22   1,045,246
4          140              16             26     768,610

In [27]:
# Check for missing values and handle them
players.fillna(0, inplace=True)
teams.fillna(0, inplace=True)
world_cups.fillna(0, inplace=True)

In [29]:
players

,player,position,team,age,club,birth_year,games,games_starts,minutes,minutes_90s,goals,assists,goals_pens,pens_made,pens_att,cards_yellow,cards_red
0,Aaron Mooy,MF,Australia,32-094,Celtic,1990,4,4,360,4.0,0,0,0,0,0,1,0
1,Aaron Ramsey,MF,Wales,31-357,Nice,1990,3,3,266,3.0,0,0,0,0,0,1,0
2,Abdelhamid Sabiri,MF,Morocco,26-020,Sampdoria,1996,5,2,181,2.0,0,1,0,0,0,1,0
3,Abdelkarim Hassan,DF,Qatar,29-112,Al Sadd SC,1993,3,3,270,3.0,0,0,0,0,0,0,0
4,Abderrazak Hamdallah,FW,Morocco,32-001,Al-Ittihad,1990,4,0,68,0.8,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,Ángel Di María,MF,Argentina,34-307,Juventus,1988,5,4,288,3.2,1,1,1,0,0,0,0
676,Ángelo Preciado,DF,Ecuador,24-303,Genk,1998,3,3,264,2.9,0,1,0,0,0,0,0
677,Éder Militão,DF,Brazil,24-334,Real Madrid,1998,4,4,347,3.9,0,0,0,0,0,1,0
678,Óscar Duarte,DF,Costa Rica,33-198,Al-Wehda,1989,3,3,270,3.0,0,0,0,0,0,1,0
679,İlkay Gündoğan,MF,Germany,32-055,Manchester City,1990,3,3,189,2.1,1,0,0,1,1,0,0

In [31]:
teams

,team,players_used,avg_age,possession,games,games_starts,minutes,goals,assists,goals_pens,...,passes_received,games_complete,points_per_game,fouls,fouled,offsides,pens_won,pens_conceded,own_goals,ball_recoveries
0,Argentina,24,28.4,57.4,7,77,690,15,8,11,...,3868,41,2.00,100,115,23,5,2,1,357
1,Australia,20,28.7,37.8,4,44,360,3,3,3,...,1236,25,1.50,52,34,1,0,0,0,200
2,Belgium,20,30.6,57.0,3,33,270,1,1,1,...,1579,19,1.33,30,35,3,0,1,0,132
3,Brazil,26,28.5,56.2,5,55,480,8,6,7,...,2718,30,2.00,63,74,8,1,0,0,271
4,Cameroon,22,28.0,41.7,3,33,270,4,4,4,...,943,20,1.33,32,38,2,0,0,0,142
5,Canada,19,28.2,52.0,3,33,270,1,1,1,...,1289,18,0.00,33,37,8,0,0,0,145
6,Costa Rica,22,30.6,31.3,3,33,270,3,1,3,...,812,19,1.00,24,37,13,0,1,0,142
7,Croatia,21,29.2,54.3,7,77,690,8,8,8,...,3724,46,1.43,90,90,11,0,1,0,409
8,Denmark,20,27.5,60.0,3,33,270,1,1,1,...,1570,20,0.33,28,23,5,0,0,0,171
9,Ecuador,18,25.8,53.3,3,33,270,4,2,3,...,1145,22,1.33,50,37,8,1,1,0,135
10,England,20,27.0,62.8,5,55,450,13,11,12,...,2734,33,2.00,53,65,5,2,1,0,227
11,France,24,27.2,51.3,7,77,660,16,12,14,...,3235,49,2.29,69,85,16,1,4,0,364
12,Germany,20,28.1,59.3,3,33,270,6,5,5,...,1665,18,1.33,26,27,12,1,0,0,164
13,Ghana,20,26.4,42.0,3,33,270,5,2,5,...,963,18,1.00,46,38,4,1,1,0,146
14,Iran,21,29.3,36.7,3,33,270,4,2,3,...,753,17,1.00,38,26,6,1,0,0,178
15,Japan,22,28.8,35.8,4,44,390,5,4,5,...,1302,24,1.75,58,36,9,0,1,0,220
16,Korea Republic,21,29.0,48.3,4,44,360,5,3,5,...,1593,28,1.00,45,34,7,0,1,0,175
17,Mexico,21,29.0,54.0,3,33,270,2,1,2,...,1081,21,1.33,51,48,13,0,1,0,151
18,Morocco,25,27.2,39.0,7,77,660,6,4,6,...,2236,43,1.57,96,81,19,0,0,1,369
19,Netherlands,21,27.6,53.0,5,55,480,10,8,10,...,2439,31,2.20,87,50,8,0,1,0,241
20,Poland,21,28.7,37.3,4,44,360,3,1,2,...,1147,29,1.00,47,47,1,1,2,0,164
21,Portugal,24,27.8,60.4,5,55,450,12,10,10,...,2595,30,1.80,55,65,14,1,0,0,256
22,Qatar,20,29.0,43.0,3,33,270,1,1,1,...,1122,22,0.00,31,45,7,0,1,0,138
23,Saudi Arabia,23,28.1,44.7,3,33,270,3,2,3,...,852,21,1.00,56,38,3,1,1,0,132
24,Senegal,20,27.7,44.8,4,44,360,5,2,4,...,1287,27,1.50,48,57,8,1,0,0,192
25,Serbia,22,27.4,51.3,3,33,270,5,4,5,...,1171,18,0.33,43,28,4,0,0,0,161
26,Spain,21,26.4,75.8,4,44,390,9,5,8,...,3500,25,1.25,41,46,11,1,0,0,225
27,Switzerland,24,28.5,49.0,4,44,360,5,4,5,...,1645,25,1.50,53,49,6,0,0,0,190
28,Tunisia,21,27.7,44.3,3,33,270,1,1,1,...,977,21,1.33,40,28,7,0,0,0,170
29,United States,20,25.4,53.0,4,44,360,3,3,3,...,1778,25,1.25,45,40,5,0,1,0,212
30,Uruguay,19,28.5,48.7,3,33,270,2,1,2,...,1141,19,1.33,34,36,3,0,2,0,166
31,Wales,18,27.7,46.7,3,33,270,1,0,0,...,1021,19,0.33,35,33,4,1,0,0,147

In [33]:
world_cups

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,"590,550"
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,"363,000"
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,"375,700"
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,"1,045,246"
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,"768,610"
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,"819,810"
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,"893,170"
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,"1,563,135"
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,"1,603,975"
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,"1,865,753"
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,"1,545,791"
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,"2,109,723"
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,"2,394,031"
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,"2,516,215"
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,"3,587,538"
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,"2,785,100"
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,"2,705,197"
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,"3,359,439"
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,"3,178,856"
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,"3,386,810"
20,2018,Russia,France,Croatia,Belgium,England,169,32,64,"3,031,768"
21,2022,Qatar,Argentina,France,Croatia,Morocco,172,32,64,"3,405,000"

In [35]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        680 non-null    object
 1   position      680 non-null    object
 2   team          680 non-null    object
 3   age           680 non-null    object
 4   club          680 non-null    object
 5   birth_year    680 non-null    int64
 6   games         680 non-null    int64
 7   games_starts  680 non-null    int64
 8   minutes       680 non-null    int64
 9   minutes_90s   680 non-null    float64
 10  goals         680 non-null    int64
 11  assists       680 non-null    int64
 12  goals_pens    680 non-null    int64
 13  pens_made     680 non-null    int64
 14  pens_att      680 non-null    int64
 15  cards_yellow  680 non-null    int64
 16  cards_red     680 non-null    int64
dtypes: float64(1), int64(11), object(5)
memory usage: 90.4+ KB

In [23]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 48 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   team                        32 non-null     object
 1   players_used                32 non-null     int64
 2   avg_age                     32 non-null     float64
 3   possession                  32 non-null     float64
 4   games                       32 non-null     int64
 5   games_starts                32 non-null     int64
 6   minutes                     32 non-null     int64
 7   goals                       32 non-null     int64
 8   assists                     32 non-null     int64
 9   goals_pens                  32 non-null     int64
 10  pens_made                   32 non-null     int64
 11  pens_att                    32 non-null     int64
 12  cards_yellow                32 non-null     int64
 13  cards_red                   32 non-null     int64
 14  gk_shots_on_target_against  32 non-null     int64
 15  gk_saves                    32 non-null     int64
 16  gk_save_pct                 32 non-null     float64
 17  gk_clean_sheets             32 non-null     int64
 18  shots                       32 non-null     int64
 19  shots_on_target             32 non-null     int64
 20  goals_per_shot              32 non-null     float64
 21  shots_free_kicks            32 non-null     int64
 22  passes_completed            32 non-null     int64
 23  passes                      32 non-null     int64
 24  assisted_shots              32 non-null     int64
 25  passes_free_kicks           32 non-null     int64
 26  through_balls               32 non-null     int64
 27  throw_ins                   32 non-null     int64
 28  corner_kicks                32 non-null     int64
 29  passes_offsides             32 non-null     int64
 30  passes_blocked              32 non-null     int64
 31  tackles                     32 non-null     int64
 32  tackles_won                 32 non-null     int64
 33  blocks                      32 non-null     int64
 34  clearances                  32 non-null     int64
 35  touches                     32 non-null     int64
 36  dribbles_completed          32 non-null     int64
 37  dribbles                    32 non-null     int64
 38  passes_received             32 non-null     int64
 39  games_complete              32 non-null     int64
 40  points_per_game             32 non-null     float64
 41  fouls                       32 non-null     int64
 42  fouled                      32 non-null     int64
 43  offsides                    32 non-null     int64
 44  pens_won                    32 non-null     int64
 45  pens_conceded               32 non-null     int64
 46  own_goals                   32 non-null     int64
 47  ball_recoveries             32 non-null     int64
dtypes: float64(5), int64(42), object(1)
memory usage: 12.1+ KB

In [25]:
world_cups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            22 non-null     int64
 1   Country         22 non-null     object
 2   Winner          22 non-null     object
 3   Runners-Up      22 non-null     object
 4   Third           22 non-null     object
 5   Fourth          22 non-null     object
 6   GoalsScored     22 non-null     int64
 7   QualifiedTeams  22 non-null     int64
 8   MatchesPlayed   22 non-null     int64
 9    Attendance     22 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.8+ KB